[submodule "docs"]
	path = docs
	url = https://anonymous.4open.science/r/TheHulk/wiki
[submodule "jaw-v3-thething"]
	path = third-party/jaw-v3-thething
	url = https://anonymous.4open.science/r/jaw-v3-thething-8BDB
[submodule "jalangi2"]
	path = libs/jalangi2
	url = https://anonymous.4open.science/r/jalangi2-187B.git
[submodule "dataset/dom-clobbering-collection"]
	path = dataset/dom-clobbering-collection
	url = https://anonymous.4open.science/r/dom-clobbering-collection.git
[submodule "proxy-server/mitmproxy"]
	path = libs/mitmproxy
	url = https://github.com/mitmproxy/mitmproxy.git