tmp/*
!tmp/.gitkeep

__pycache__/

## Ignore all node_modules directories
node_modules/

## Ignore all the output directories
output/

## For any directory under output that should not be ignored, add a ! before the directory name
# !output/some-directory/

codeql-query/website-specific
codeql-query/WebsiteSpecific-Undef
!codeql-query/WebsiteSpecific/.gitkeep
!codeql-query/WebsiteSpecific-Undef/.gitkeep

# Ignore all the .DS_Store files
.DS_Store

# Ignore all the .vscode files
.vscode/

# Ignore all the .idea files
.idea/

proxy-server/cache/
!proxy-server/cache/.gitkeep